:root {
    --main-font-color: #e2e6cf;
    --background-body-color: #e5f1f3;
    --body-font-color: #191e33;
    --font-family: 'Times New Roman', Times, serif;
    --font-size-small: 20px;
}

body {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: var(--background-body-color);
    font-family: var(--font-family);
}

body section {
    margin: 20px 50px;
    padding: 15px 15px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: var(--body-font-color);
    color: var(--main-font-color);
}

.header h1 {
    text-align: center;
    margin: 5px;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
}

.header nav a {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: var(--font-size-small);
}

.header nav a:hover {
    text-decoration: underline;
}

.about {
    color: var(--body-font-color);
}

.about-header {
    width: 100%;
}

.about-container {
    display: flex;
    gap: 30px;
}

.about-right p {
    margin-top: 0px;
    font-size: var(--font-size-small);
}

.projects-header {
    width: 100%;
}

.projects-container {
    display: flex;
    gap: 20px;
}

.project-details-btn {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    color: var(--body-font-color);
}

.project {
    flex: 1 1 30%;
}

.project h3 {
    margin: 0px;
}

.project p {
    font-size: var(--font-size-small);
    margin: 10px 0px;
}

.project-details.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}

input[type="text"],
input[type="email"],
textarea {
    width: 250px;
    padding: 5px;
    border: 1px solid var(--body-font-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fafdff;
    margin-bottom: 20px;
    font-family: var(--font-family);
    color: var(--body-font-color);
    font-size: var(--font-size-small);
}

.contact-container button {
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    color: var(--body-font-color);
}

.contact-header {
    width: 100%;
}

.contact-container p {
    font-size: var(--font-size-small);
    margin-bottom: 30px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: var(--body-font-color);
    color: var(--main-font-color);
}

.footer p {
    text-align: center;
    line-height: 0px;
    font-size: var(--font-size-small);
}

@media(max-width: 850px) {
    body section {
        margin: 10px 25px;
        padding: 5px 5px;
    }

    .about-container {
        flex-direction: column;
        width: 100%
    }

    .about-left img {
        width: 100%;
    }

    .about-right {
        width: 100%;
    }
}

@media(max-width:720px) {
    .projects-container {
        flex-direction: column;
    }
}

@media(max-width: 600px) {
    body {
        padding-top: 90px;
    }

    section h2 {
        margin-top: 0px
    }
}